<div class="row">
    <h1 class="sectionTitle bold">Work <span class="orange">Samples</span></h1>
    <div class="col-md-6 flip-container">
      <div class="flippInner">
        <div class="front" style="background: url(src/images/1.jpg) center center no-repeat;"></div>
        <div class="back" style="background: url(src/images/2.jpg) center center no-repeat;"></div>
      </div>
    </div>
    <div class="col-md-3 flip-container">
      <div class="flippInner">
        <div class="front" style="background: url(src/images/3.jpg) center center no-repeat;"></div>
        <div class="back" style="background: url(src/images/4.jpg) center center no-repeat;"></div>
      </div>
    </div>
    <div class="col-md-3 flip-container">
      <div class="flippInner">
        <div class="front" style="background: url(src/images/5.jpg) center center no-repeat;"></div>
        <div class="back" style="background: url(src/images/6.jpg) center center no-repeat;"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 flip-container">
      <div class="flippInner">
        <div class="front" style="background: url(src/images/7.jpg) center center no-repeat;"></div>
        <div class="back" style="background: url(src/images/8.jpg) center center no-repeat;"></div>
      </div>
    </div>
    <div class="col-md-6 flip-container">
      <div class="flippInner">
        <div class="front" style="background: url(src/images/9.jpg) center center no-repeat;"></div>
        <div class="back" style="background: url(src/images/10.jpg) center center no-repeat;"></div>
      </div>
    </div>
    <div class="col-md-3 flip-container">
      <div class="flippInner">
        <div class="front" style="background: url(src/images/11.jpg) center center no-repeat;"></div>
        <div class="back" style="background: url(src/images/12.jpg) center center no-repeat;"></div>
      </div>
    </div>
</div>